<p name="055c" id="055c" class="graf graf--p graf--hasDropCapModel graf--hasDropCap graf--leading">
    <span class="graf-dropCap">W</span>hen followers of the innovative guru Bhagwan Shree Rajneesh discovered that guns, poisoning, and intimidation
    were used in their teacher’s name, as depicted in the captivating Netflix docuseries
    <a href="https://www.theatlantic.com/entertainment/archive/2018/03/wild-wild-country-the-mindboggling-story-of-the-cult-next-door/555791/"
        data-href="https://www.theatlantic.com/entertainment/archive/2018/03/wild-wild-country-the-mindboggling-story-of-the-cult-next-door/555791/"
        class="markup--anchor markup--p-anchor" rel="nofollow noopener" target="_blank">
        <em class="markup--em markup--p-em">Wild Wild Country</em>
    </a>, many felt bewildered and lost. Few experiences are more jarring than betrayal by a spiritual guru or his designees—figures
    you trust with your inner development and whose own inner growth you take for granted.</p>
<p name="efe4" id="efe4" class="graf graf--p graf-after--p">I have never suffered betrayal by a spiritual teacher — but I have come close. Years ago, I was involved with a deeply esoteric
    and intellectually rigorous group dedicated to the search for meaning. My teacher was a powerful, charismatic man with
    a tremendous mind and heart — and a temper to match. He had suffered catastrophes in life, none of his own making, and,
    at times, I wondered if his judgment had begun to slip as a result. This was no small matter in a group whose internal
    culture was not infrequently confrontative and demanding; students were occasionally asked to take physical risks.</p>
<p
    name="d2c8" id="d2c8" class="graf graf--p graf-after--p">One night in a group meeting, he jokingly (and foolishly) interrupted me while I was making a point. I was speaking about
    something personally significant, and I refused to finish speaking after his interruption. He insisted I go on. Again
    I refused. He pressed me. I glanced at the door, then back at him, realizing then that I could just get up and leave.
    I chose instead to avert a dramatic scene, and I obeyed him — I spoke. But I vowed it would be for the last time. Later
    that week, I cut our ties. I was not being abused or pushed around, but I would not allow the prospect to come any closer.</p>
<p
    name="44d8" id="44d8" class="graf graf--p graf-after--p">My teacher and I remained in touch. He paid me what I considered the ultimate tribute in trust by asking me, as someone who
    had left in disgruntlement, to speak one-on-one with potential new participants. Whether he was also attempting to flatter
    me made no difference. It was an act of vulnerability that made him a great teacher at his finest moments, and there
    were many. He died about five months later. We never fully reconciled, but at the same time I had never fully left him.
    It was simply a matter of separating when I saw the swelling up of an aggressive and confrontational style of which I
    disapproved.</p>
<p name="7726" id="7726" class="graf graf--p graf-after--p">That raises my larger point:
    <span class="markup--quote markup--p-quote is-other" name="b4a5df86452f" data-creator-ids="64c49bd92b9e">When you are walking the spiritual path, in a world of sometime advantage-takers, occasional frauds, and not infrequently
        unprepared students who call themselves teachers, you must arm yourself with one vital question:
        <em class="markup--em markup--p-em">Does this person deserve my trust?</em>
    </span> Your spiritual search must be exquisitely consensual and voluntary — or it is nothing at all. You must never relinquish,
    as I was unwilling to do in my group meeting, your innate sense of right and wrong or cede your judgment to another.</p>
<figure
    name="e838" id="e838" class="graf graf--figure graf-after--p">
    <div class="aspectRatioPlaceholder is-locked" style="max-width: 700px; max-height: 30px;">
        <div class="aspectRatioPlaceholder-fill" style="padding-bottom: 4.3%;"></div>
        <img class="graf-image" data-image-id="1*q2yGj1PEiG1ziPTM5oNDdQ.png" data-width="700" data-height="30" src="https://cdn-images-1.medium.com/max/1600/1*q2yGj1PEiG1ziPTM5oNDdQ.png">
    </div>
</figure>
<h3 name="2960" id="2960" class="graf graf--h3 graf-after--figure">Should I Stay or Should I&nbsp;Go?</h3>
<p name="a644" id="a644" class="graf graf--p graf-after--h3">A brilliant martial artist and friend told me that he once witnessed his teacher break another student’s arm in anger. My
    friend made the decision to remain with his sensei, a venerated master. Personally, I would have left. But everyone must
    make this decision on his own terms — above all, however, never tell yourself there is no decision to make, or that your
    teacher can make it for you. At such a point, you have released the reins of maturity and self-agency, and you increase
    the possibility of abuse.</p>
<p name="469d" id="469d" class="graf graf--p graf-after--p">Perhaps the worst modern case of spiritually based abuse reaches its 40th anniversary this year: the November 1978 mass suicide-homicide
    of more than 900 men, women, and children at the jungle compound of the Reverend Jim Jones in Guyana.</p>
<figure name="b1c7"
    id="b1c7" class="graf graf--figure graf--layoutOutsetLeft graf-after--p" data-scroll="native">
    <div class="aspectRatioPlaceholder is-locked" style="max-width: 525px; max-height: 549px;">
        <div class="aspectRatioPlaceholder-fill" style="padding-bottom: 104.60000000000001%;"></div>
        <div class="progressiveMedia js-progressiveMedia graf-image is-canvasLoaded" data-image-id="1*uTnEix6GVIslbaHeSQBzsQ.jpeg"
            data-width="2109" data-height="2205" data-action="zoom" data-action-value="1*uTnEix6GVIslbaHeSQBzsQ.jpeg" data-scroll="native">
            <img src="https://cdn-images-1.medium.com/freeze/max/60/1*uTnEix6GVIslbaHeSQBzsQ.jpeg?q=20" crossorigin="anonymous"
                class="progressiveMedia-thumbnail js-progressiveMedia-thumbnail">
            <canvas class="progressiveMedia-canvas js-progressiveMedia-canvas" width="72" height="75"></canvas>
            <img class="progressiveMedia-image js-progressiveMedia-image" data-src="https://cdn-images-1.medium.com/max/1200/1*uTnEix6GVIslbaHeSQBzsQ.jpeg">
            <noscript class="js-progressiveMedia-inner">
                <img class="progressiveMedia-noscript js-progressiveMedia-inner" src="https://cdn-images-1.medium.com/max/1200/1*uTnEix6GVIslbaHeSQBzsQ.jpeg">
            </noscript>
        </div>
    </div>
    <figcaption class="imageCaption">Jim Jones. Photo: Bettmann/Getty</figcaption>
</figure>
<p name="9849" id="9849" class="graf graf--p graf-after--figure">The
    <a href="https://www.history.com/topics/jonestown" data-href="https://www.history.com/topics/jonestown" class="markup--anchor markup--p-anchor"
        rel="nofollow noopener" target="_blank">Jonestown</a> massacre is the most horrific episode of religious manipulation in recent memory — yet, for all its proximity,
    the tragedy itself is rarely understood. Despite the vulgar expression “drink the Kool-Aid” to describe followers who
    are so blindly devoted that they’ll imbibe cyanide-laced fruit drink (it wasn’t Kool-Aid, in fact, but Grape Flavor Aid),
    most of Jonestown’s residents —
    <a href="https://jonestown.sdsu.edu/?page_id=35332" data-href="https://jonestown.sdsu.edu/?page_id=35332"
        class="markup--anchor markup--p-anchor" rel="nofollow noopener" target="_blank">more than 300</a> of whom were children — were victims of mass homicide, not group suicide.</p>
<p name="85e0" id="85e0"
    class="graf graf--p graf-after--p">In addition to the hundreds of children, many of Jones’ victims were either elderly or parents who had nothing left after
    the minister cruelly decreed, backed by machine-gun-toting security thugs, that kids must drink first. Other victims
    were shot trying to flee. Only a handful went to their deaths willingly. Nearly all had experienced a horrendous betrayal
    of trust and perverted ideals from their Disciples of Christ minister turned cult leader. Properly understood, Jonestown
    holds special warnings for all seekers:</p>
<h4 name="fe92" id="fe92" class="graf graf--h4 graf-after--p">
    <strong class="markup--strong markup--h4-strong">
        <em class="markup--em markup--h4-em">Beware of inconsistency, segmented messages, and caprice in a&nbsp;leader.</em>
    </strong>
</h4>
<p name="c982" id="c982" class="graf graf--p graf-after--h4">Jones presented himself variously as atheist, evangelist, and socialist. Like Donald Trump — alternately populist and plutocrat,
    saber rattler and peacemaker, pragmatic bargainer and wall builder — the minister catered his message to whoever was
    listening and left every follower with the misimpression that he had their backs.</p>
<h4 name="f5ac" id="f5ac" class="graf graf--h4 graf-after--p">
    <strong class="markup--strong markup--h4-strong">
        <em class="markup--em markup--h4-em">Real leaders have little to hide and rarely spend inordinate amounts of time and resources countering media adversity.</em>
    </strong>
</h4>
<p name="d8bd" id="d8bd" class="graf graf--p graf-after--h4">Jones made a steady practice of demeaning and harassing reporters — using his followers to threaten journalists, gather dossiers
    on perceived foes, and reward friendly reporters with insider contacts and information.</p>
<h4 name="9a17" id="9a17"
    class="graf graf--h4 graf-after--p">
    <strong class="markup--strong markup--h4-strong">
        <em class="markup--em markup--h4-em">Make sure deeds and ideals&nbsp;match.</em>
    </strong>
</h4>
<p name="d690" id="d690" class="graf graf--p graf-after--h4">Jones attracted a sizable African-American following by expressing zeal for racial justice. But his inner circle was always
    white, and most of his campaigns for justice amounted to little more than gaming local governments for patronage and
    payola.</p>
<h4 name="433d" id="433d" class="graf graf--h4 graf-after--p">
    <span class="markup--quote markup--h4-quote is-other" name="anon_7538a761a307" data-creator-ids="anon">
        <strong class="markup--strong markup--h4-strong">
            <em class="markup--em markup--h4-em">Unscrupulous</em>
        </strong>
        <strong class="markup--strong markup--h4-strong">
            <em class="markup--em markup--h4-em">leaders often play the “enemy card” to manipulate followers.</em>
        </strong>
    </span>
</h4>
<p name="4c8b" id="4c8b" class="graf graf--p graf-after--h4">Jones chronically pitted his followers against mainstream institutions, decrying secret government plots, illegal wiretapping,
    and untoward surveillance. Civil liberties are always a legitimate concern, but Jones’ circle hardly appeared on the
    FBI’s radar, much less suffered from persecution.</p>
<h4 name="d225" id="d225" class="graf graf--h4 graf-after--p">
    <strong class="markup--strong markup--h4-strong">
        <em class="markup--em markup--h4-em">Sexual encounters with spiritual teachers almost always spell personal hurt, if not abuse, and end in group disaster.</em>
    </strong>
</h4>
<p name="0119" id="0119" class="graf graf--p graf-after--h4">Jones sought to reveal or invent sexually embarrassing or intimate details about opponents and followers. He lured both male
    and female followers into sexual liaisons, which heightened his control, abused followers’ trust, and pitted acolytes
    against one another. Hundreds of modern ashrams and New Age centers have been marred or destroyed by sexual scandals.</p>
<h4
    name="1040" id="1040" class="graf graf--h4 graf-after--p">
    <strong class="markup--strong markup--h4-strong">
        <em class="markup--em markup--h4-em">Real teachers don’t inflate themselves with false stats, crowd size, or staged miracles.</em>
    </strong>
</h4>
<p name="6e75" id="6e75" class="graf graf--p graf-after--h4">Jones falsified or exaggerated his organizational successes: staging faith healings, lying about economic and membership
    growth, and falsifying crop output and progress at Jonestown. In turn, all failures were either denied or blamed on outsiders.</p>
<h4
    name="74fd" id="74fd" class="graf graf--h4 graf-after--p">
    <strong class="markup--strong markup--h4-strong">
        <em class="markup--em markup--h4-em">Be on early alert for demonization of outside authority.</em>
    </strong>
</h4>
<p name="a2ee" id="a2ee" class="graf graf--p graf-after--h4">Jones suggested respect for local authorities and cultivated a goody-goody reputation with law enforcement, but he rejected
    all appropriate oversight: Visitors to Jonestown on the tragic day of the mass suicide/homicide thought they would be
    protected by the congressional authority of the visiting Rep. Leo Ryan; instead, Jones had him killed by gunmen.</p>
<h4
    name="6890" id="6890" class="graf graf--h4 graf-after--p">
    <strong class="markup--strong markup--h4-strong">
        <em class="markup--em markup--h4-em">Group isolation is often a recipe for catastrophe.</em>
    </strong>
</h4>
<p name="bd19" id="bd19" class="graf graf--p graf-after--h4">The ultimate danger of spiritual leaders like Jones is that they promote fear-based, extremist views of reality and elevate
    their leadership as the ultimate protection: It’s either me or chaos, devotees are told. Followers are persuaded that
    mainstream institutions — political, religious, news media, whistleblowers, law enforcement — are bent on their destruction,
    leaving the faithful nowhere else to turn.</p>
<p name="28cf" id="28cf" class="graf graf--p graf-after--p">If any of these traits happen to remind you of a certain White House occupant, you’re not imagining things.</p>
<figure name="37db"
    id="37db" class="graf graf--figure graf-after--p">
    <div class="aspectRatioPlaceholder is-locked" style="max-width: 700px; max-height: 30px;">
        <div class="aspectRatioPlaceholder-fill" style="padding-bottom: 4.3%;"></div>
        <img class="graf-image" data-image-id="1*q2yGj1PEiG1ziPTM5oNDdQ.png" data-width="700" data-height="30" src="https://cdn-images-1.medium.com/max/1600/1*q2yGj1PEiG1ziPTM5oNDdQ.png">
    </div>
</figure>
<h3 name="4e00" id="4e00" class="graf graf--h3 graf-after--figure">Self-Help and Self-Danger</h3>
<p name="e4dd" id="e4dd" class="graf graf--p graf-after--h3">There are certainly milder episodes of spiritual abuse than Jim Jones. In other cases, the numbers are less horrific, but
    the dangers are equally real. Indeed, guru abuse sometimes lurks within the (mostly) benign field of self-help and needs
    watching out for.</p>
<p name="3007" id="3007" class="graf graf--p graf-after--p">The success of the 2006 book and movie
    <em class="markup--em markup--p-em">The Secret</em> increased demand for motivational seminars and brought new stars to the field. A few life coaches, eager
    to copycat Tony Robbins and build empires of their own, devised incredibly busy appearance schedules and developed their
    own brand of over-the-top methods to deliver “breakthroughs” to workshop attendees. In one recent and horrendous case,
    a motivational superstar showed little judgment in how far he was willing to push trusting participants.</p>
<figure name="2092"
    id="2092" class="graf graf--figure graf-after--p">
    <div class="aspectRatioPlaceholder is-locked" style="max-width: 700px; max-height: 343px;">
        <div class="aspectRatioPlaceholder-fill" style="padding-bottom: 49.1%;"></div>
        <div class="progressiveMedia js-progressiveMedia graf-image is-canvasLoaded" data-image-id="1*Hr6Hf3luw94oBdf_a0vl2g.png"
            data-width="1003" data-height="492" data-action="zoom" data-action-value="1*Hr6Hf3luw94oBdf_a0vl2g.png" data-scroll="native">
            <img src="https://cdn-images-1.medium.com/freeze/max/60/1*Hr6Hf3luw94oBdf_a0vl2g.png?q=20" crossorigin="anonymous"
                class="progressiveMedia-thumbnail js-progressiveMedia-thumbnail">
            <canvas class="progressiveMedia-canvas js-progressiveMedia-canvas" width="75" height="36"></canvas>
            <img class="progressiveMedia-image js-progressiveMedia-image" data-src="https://cdn-images-1.medium.com/max/1600/1*Hr6Hf3luw94oBdf_a0vl2g.png">
            <noscript class="js-progressiveMedia-inner">
                <img class="progressiveMedia-noscript js-progressiveMedia-inner" src="https://cdn-images-1.medium.com/max/1600/1*Hr6Hf3luw94oBdf_a0vl2g.png">
            </noscript>
        </div>
    </div>
</figure>
<p name="18a9" id="18a9" class="graf graf--p graf-after--figure">
    <a href="https://bullshit.ist/the-tragedy-the-new-age-must-never-forget-105c38eb2888" data-href="https://bullshit.ist/the-tragedy-the-new-age-must-never-forget-105c38eb2888"
        class="markup--anchor markup--p-anchor" rel="nofollow noopener" target="_blank">James Ray</a>, a bestselling author and former telemarketer and internal trainer with AT&amp;T, conducted a
    <a href="https://www.wsj.com/articles/SB10001424052702303544604576431823713411478"
        data-href="https://www.wsj.com/articles/SB10001424052702303544604576431823713411478" class="markup--anchor markup--p-anchor"
        rel="nofollow noopener" target="_blank">brutal Arizona sweat lodge</a> in fall 2009 that led to multiple injuries and the deaths of three participants: two from
    heat stroke and one from heat-related organ failure. Now free, Ray was convicted of three counts of negligent homicide
    in November 2011 and sentenced to two years in prison.</p>
<p name="ed1c" id="ed1c" class="graf graf--p graf-after--p">Known for a frenetic events schedule and a hard-driving presentation style, the former marketer crossed the nation delivering
    talks, seminars, and weekend and weeklong empowerment programs. In October 2009, 56 participants joined him at a lodge
    in the Sedona desert for a weeklong “Spiritual Warrior” retreat. Ray’s program for self-development was extreme: Even
    before the evening sweat-lodge ceremony — a sauna-like ritual adapted from Native American rites — most of his attendees
    had endured a night outside in the desert, without food or water, for 36 hours.</p>
<figure name="8d3c" id="8d3c" class="graf graf--figure graf--layoutOutsetLeft graf-after--p"
    data-scroll="native">
    <div class="aspectRatioPlaceholder is-locked" style="max-width: 369px; max-height: 213px;">
        <div class="aspectRatioPlaceholder-fill" style="padding-bottom: 57.699999999999996%;"></div>
        <div class="progressiveMedia js-progressiveMedia graf-image is-canvasLoaded" data-image-id="1*K4kNaKprfp9_xY1xBu9fcg.png"
            data-width="369" data-height="213" data-scroll="native">
            <img src="https://cdn-images-1.medium.com/freeze/max/60/1*K4kNaKprfp9_xY1xBu9fcg.png?q=20" crossorigin="anonymous"
                class="progressiveMedia-thumbnail js-progressiveMedia-thumbnail">
            <canvas class="progressiveMedia-canvas js-progressiveMedia-canvas" width="75" height="42"></canvas>
            <img class="progressiveMedia-image js-progressiveMedia-image" data-src="https://cdn-images-1.medium.com/max/1200/1*K4kNaKprfp9_xY1xBu9fcg.png">
            <noscript class="js-progressiveMedia-inner">
                <img class="progressiveMedia-noscript js-progressiveMedia-inner" src="https://cdn-images-1.medium.com/max/1200/1*K4kNaKprfp9_xY1xBu9fcg.png">
            </noscript>
        </div>
    </div>
</figure>
<p name="7d46" id="7d46" class="graf graf--p graf-after--figure">As I write in my book
    <a href="https://www.penguinrandomhouse.com/books/217923/one-simple-idea-by-mitch-horowitz/9780307986504/"
        data-href="https://www.penguinrandomhouse.com/books/217923/one-simple-idea-by-mitch-horowitz/9780307986504/" class="markup--anchor markup--p-anchor"
        rel="nofollow noopener" target="_blank">
        <em class="markup--em markup--p-em">One Simple Idea</em>
    </a>, the two-hour sweat lodge devolved into a nightmarish ordeal, as many participants in the darkened, broiling structure
    vomited, passed out, or struggled to assist others while Ray admonished them to stick it out for the sake of personal
    growth. Two people died at the scene, and another later passed away at the hospital.</p>
<p name="4954" id="4954" class="graf graf--p graf-after--p">One of the most revealing aspects of the Ray episode was the apparent lack of acknowledgment with which he and his organization
    initially responded to the deaths. Ray left Arizona the morning after the deaths without speaking to the survivors or
    visiting those hospitalized. He did not reach out to victims’ families until days later, after hosting another positive-thinking
    motivational seminar over the weekend.</p>
<p name="08f7" id="08f7" class="graf graf--p graf-after--p">From the start, Ray was a coarser breed of motivator. Self-help pioneers such as Napoleon Hill and Norman Vincent Peale attracted
    millions of people with promises of self-development. But their methods were private, contemplative, and oriented toward
    personal illumination. Intense and public displays were never part of their program. Yet a handful of early 21st-century
    motivational teachers employ psychologically or physically grueling activities, often without the full foreknowledge
    of participants.</p>
<figure name="1ff2" id="1ff2" class="graf graf--figure graf-after--p">
    <div class="aspectRatioPlaceholder is-locked" style="max-width: 700px; max-height: 30px;">
        <div class="aspectRatioPlaceholder-fill" style="padding-bottom: 4.3%;"></div>
        <img class="graf-image" data-image-id="1*q2yGj1PEiG1ziPTM5oNDdQ.png" data-width="700" data-height="30" src="https://cdn-images-1.medium.com/max/1600/1*q2yGj1PEiG1ziPTM5oNDdQ.png">
    </div>
</figure>
<h3 name="d254" id="d254" class="graf graf--h3 graf-after--figure">The Problem of Peer&nbsp;Pressure</h3>
<p name="0aed" id="0aed" class="graf graf--p graf-after--h3">In one of the most troubling aspects of intense motivational seminars or spiritual retreats, participants may experience
    a strong but subtle pull to “go along” with questionable exercises, especially under the urging of workshop leaders,
    who typically label refusal to join as the kind of inner resistance that you came to break down. The high fees that sometimes
    accompany such programs — Ray charged up to $10,000 per person — also discourage participants from pulling out.</p>
<p
    name="e738" id="e738" class="graf graf--p graf-after--p">I experienced this kind of pressure once at a yoga retreat in western Massachusetts. The weeklong workshop was advertised
    (and confirmed over the phone) as a physical,
    <a href="https://en.wikipedia.org/wiki/Hatha_yoga" data-href="https://en.wikipedia.org/wiki/Hatha_yoga"
        class="markup--anchor markup--p-anchor" rel="nofollow noopener" target="_blank">hatha</a>-based program of yogic practice. The first evening, however, I was surprised to be randomly assigned to a four-person
    group and told this was my “family group,” with whom I was expected to share psychological and emotional intimacies.
    “Yoga is not just about having a flexible body,” one instructor announced, “but about having a flexible mind.”</p>
<p
    name="b5bd" id="b5bd" class="graf graf--p graf-after--p">The week was divided between practicing asanas, or yoga poses, and a wide range of jarring, often unwelcome encounter-style
    sessions requiring individual exposure and confession. I was too young and too isolated (I had taken a Greyhound to what
    seemed like the middle of nowhere) to muster the courage to leave. I had also paid prettily for room and board for the
    week. And finally, there was subtle but keen peer pressure not to blow off my “family group” or to put up psychological
    barriers. Hence, I remained for an intrusive and distinctly unrelaxing week. No lasting harm was done (to my knowledge),
    but I could see how collusive factors of relative isolation, financial commitment, teacher deference, and peer pressure
    could lead any seeker to misplace his trust.</p>
<figure name="5dd4" id="5dd4" class="graf graf--figure graf-after--p">
    <div class="aspectRatioPlaceholder is-locked" style="max-width: 700px; max-height: 30px;">
        <div class="aspectRatioPlaceholder-fill" style="padding-bottom: 4.3%;"></div>
        <img class="graf-image" data-image-id="1*q2yGj1PEiG1ziPTM5oNDdQ.png" data-width="700" data-height="30" src="https://cdn-images-1.medium.com/max/1600/1*q2yGj1PEiG1ziPTM5oNDdQ.png">
    </div>
</figure>
<h3 name="5ae0" id="5ae0" class="graf graf--h3 graf-after--figure">A Call for Plain&nbsp;Dealing</h3>
<p name="a0b5" id="a0b5" class="graf graf--p graf-after--h3">As a historian and seeker within the culture of alternative spirituality, the aforementioned incidents (and many others)
    convince me of the need for a careful set of ethics when advertising, organizing, or attending motivational, healing,
    or spiritual activities. These are my suggestions:</p>
<h4 name="d375" id="d375" class="graf graf--h4 graf-after--p">
    <strong class="markup--strong markup--h4-strong">Look for transparency in advertising and communication.</strong>
</h4>
<p name="b0f8" id="b0f8" class="graf graf--p graf-after--h4">First off, prospective participants should know exactly what is on the program, including late-night sessions, campouts,
    or increasingly popular fire walks (even if they are optional). If psychological exercises, either individual or group-based,
    are planned, attendees are likewise entitled to know. And if caffeine or other typical mealtime or wakeup accouterments
    will not be available or are prohibited — not uncommon at spiritual centers — that, too, should be made clear. If an
    ad or catalog doesn’t spell out such things, then ask.</p>
<h4 name="56f0" id="56f0" class="graf graf--h4 graf-after--p">
    <strong class="markup--strong markup--h4-strong">Avoid all forms of pressure.</strong>
</h4>
<p name="ff50" id="ff50" class="graf graf--p graf-after--h4">Of all forms of coercion that leaders may visit on group members, the most typical (and subtle) are peer pressure and
    <em
        class="markup--em markup--p-em">time pressure</em>. Dominating someone’s time can be an invisible form of manipulation. When you enter any kind of group — whether
    church, political, or alternative spiritual — keep an eye out for group members or leaders continually ratcheting up
    attendance requirements. If you are endlessly asked to attend long meetings, group sessions, social outings, repair projects,
    newsletter production, workshops, getaways, and to continually accept new duties, take a hard look at things. I am not
    suggesting that time commitments are a red flag. I have greatly valued such investments and often given my own time freely.
    But if a group or leader consumes all your time, it can lead to withering social and family connections, constant tiredness,
    and, ultimately, isolation and dependency.</p>
<h4 name="46d5" id="46d5" class="graf graf--h4 graf-after--p">
    <strong class="markup--strong markup--h4-strong">Never assume a teacher knows better than&nbsp;you.</strong>
</h4>
<p name="c8b4" id="c8b4" class="graf graf--p graf-after--h4">I mentioned earlier that my mentor asked me to meet with potential new participants. I learned from this experience how easily
    seekers could come to view me as “the man with the plan” — someone who held entry keys to a valued belief system or a
    set of answers. But this was not the case. I was just as searching and uncertain as they were. When seeking truth, we
    often, and unknowingly, collude in a kind of theater: A therapist, minister, guru, or guide appears as a figure of natural
    authority to whom we play neophyte. Indeed, many ministers and therapists, often unaware, set up and revel in that paradigm.
    Do not buy into it. Your guide is often just as uncertain as you are.</p>
<h4 name="39fb" id="39fb" class="graf graf--h4 graf-after--p">
    <strong class="markup--strong markup--h4-strong">Finally, trust yourself.</strong>
</h4>
<p name="537e" id="537e" class="graf graf--p graf-after--h4 graf--trailing">The one key to not getting burned on the spiritual path is using
    <em class="markup--em markup--p-em">aggressive commonsense</em>. Always be prepared to speak up for yourself and to say no if you feel an activity or commitment
    crosses a line. A philosopher I know once put it this way: “A real esoteric group is very difficult to find and very
    easy to fall out off. A fake group is just the opposite.” Make that your yardstick. If anyone starts applying undue pressure
    or attempts to isolate you, or if a leader asks that you suspend your discretion in favor of his, take a step back.
    <span
        class="markup--quote markup--p-quote is-other" name="65ac1a7705de" data-creator-ids="64c49bd92b9e">There is no better guarantee of personal safety than using your own applied judgment. When you discover and wield that
        judgment, you may also find a large part of what you came looking for in the first place.</span>
</p>